<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiletv.app"
    android:versionCode="16"
    android:versionName="1.6">

    <!--Acesso completo à rede-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--Exibir conexões de rede-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--Localização exata (baseada na rede e no GPS)-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--Localização aproximada (baseada em rede)-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="29">

    </uses-sdk>

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity
            android:name=".SignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".PlayerActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">

        </activity>

    </application>

</manifest>